body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Roboto', sans-serif;
}

footer {
	text-align: center;
}

.rare {
	color: #dbc486;
}

.mythic {
	color: #d36814;
}

.cardImg {
	width: 100%;
}

.highlighted {
	color: red;
	font-weight: bold;
}

.headline {
	display: block;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
}

.setInfo {
	border: 1px solid black;
}

.card {
	border: 1px solid black;
	height: 100%;
}

.headline:hover, .setInfo:hover {
	background-color: lightgrey;
	color: black;
}

.rule {
	text-align: left;
	font-size: 14px;
	padding: 5px 0px 5px 0px;
}

.fullCard {
	width: 35%;
}

.searchArea {
	text-align: center;
	margin-top: 10px;
}

.block:hover {
	text-decoration: underline;
}

input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
}
