body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Roboto', sans-serif;
}

.headline {
	display: block;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
}

.setInfo, .card {
	border: 1px solid black;
}

	.headline:hover, .setInfo:hover {
		background-color: lightgrey;
		color: black;
	}

.cardImg {
	width: 100%;
}

.highlighted {
	color: red;
	font-weight: bold;
}
